@charset "UTF-8";

#nav-icon {
    display: none;
}

#nav-logo a ,
#navlogo a {
    position: relative;
    left: -10vw;
}

#nav-bar {
    justify-content: center;
}

#nav-desktop-links {
    display: block;
}
