@charset "UTF-8";

#header-titulo {
    font-size: 8rem;
}

#header-titulo::after {
    top: 8rem;
}

.container-card:nth-child(1) {
    background: var(--cor0) url(../../img/fundos/fundo-capadura/fundo-capadura.webp) no-repeat top / cover;
}
.container-card:nth-child(2) {
    background: var(--cor0) url(../../img/fundos/fundo-agendas/fundo-agendas.webp) no-repeat center / cover;
}
.container-card:nth-child(3) {
    background: var(--cor0) url(../../img/fundos/fundo-livros/fundo-livros.webp) no-repeat center / cover;
}

#container-parceiros::-webkit-scrollbar {
    height: 0.7rem;
}

#mao-animada {
    display: none;
}
