@charset "UTF-8";

#container-nav-bar {
    position: sticky;
    top: 0px;
    z-index: 1;
    backdrop-filter: blur(8px);
}

#nav-bar {
    background-color: var(--cor7);
    padding: 0.3125rem 0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 10px var(--cor5);
}

#nav-logo a img {
    width: 4.0625rem;
}

#nav-icon i {
    cursor: pointer;
    font-size: 2rem;
    color: var(--cor3);
    transition: 0.3s;
}

#nav-icon i:hover {
    color: var(--cor8);
}

#nav-bar-mobile {
    background-color: var(--cor6);
    display: none;
    padding: 0.625rem 0rem;
    box-shadow: 0px 10px 15px var(--cor5);
    width: 100%;

    position: absolute;
}

#nav-bar-mobile ul li {
    position: relative;
}


#nav-bar-mobile ul li a {
    display: block;
    width: 100%;
    padding: 1.2rem 0rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--cor7);
}

#nav-bar-mobile ul li a::after {
    content: "";
    background-color: var(--cor5);
    width: 6.25rem;
    height: 0.0625rem;
    position: absolute;
    top: 3.125rem;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

#nav-bar-mobile ul li a:hover::after {
    background-color: var(--cor7);
    width: 9.375rem;
}

header {
    background: var(--cor0) url(../img/fundos/fundo-grafica/fundo-grafica-250.jpg) no-repeat center / cover;
    box-shadow: 0px 0px 10px var(--cor5);
}

#header-capa {
    backdrop-filter: blur(5px) contrast(50%);
    height: 90vh;
    display: grid;
    grid-template-rows: 10vh 30vh;
    grid-template-areas:
    "i1 i1" 
    "i2 i2"
    ;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

#header-titulo {
    grid-area: i1;
    font-size: 3.3rem;
    position: relative;
    text-align: center;
    align-self: center;
    color: var(--cor0);
    text-shadow: 0px 0px 15px var(--cor7);
}

#header-titulo::after {
    content: "";
    background-color: var(--cor0);
    box-shadow: 0px 0px 15px var(--cor7);
    width: 7.5rem;
    height: 0.1875rem;

    position: absolute;
    top: 4.8rem;
    left: 50%;
    transform: translateX(-50%);
}

#header-subtitulo {
    grid-area: i2;
    text-align: center;
    align-self: end;
}

#icon-coroa {
    align-self: end;
    color: var(--cor4);
    font-size: 2.5rem;
}

#header-slogan {
    font-size: 1.9rem;
    color: var(--cor4);
    font-weight: 500;
    font-family: var(--fonte-manuscrita);
    text-shadow: 0px 0px 10px var(--cor1);
}

.titulo-sublinhado::after {
    content: "";
    background-color: var(--cor0);
    width: 7.5rem;
    height: 0.1875rem;

    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
}

#main-sobre-nos {
    max-width: 50rem;
    margin: auto;
    padding: 4.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
    text-align: center;
}

#main-sobre-nos a {
    text-decoration: none;
    color: var(--cor8);
    background-color: var(--cor1);
    padding: 0.625rem 1.25rem;
    border: 0.0625rem solid var(--cor1);
    transition: 0.3s;
}

.link-leitura {
    font-family: var(--fonte-leitura);
}

#main-sobre-nos a:hover {
    color: var(--cor1);
    background-color: var(--cor8);
}

#main-servicos {
    padding-bottom: 4.5rem;
}

#main-servicos-titulo {
    margin-bottom: 4.5rem;
}

#container-cards {
    box-shadow: 0px 0px 10px var(--cor5);
}

.container-card:nth-child(1) {
    background: var(--cor0) url(../img/fundos/fundo-capadura/fundo-capadura-550.jpg) no-repeat center / cover;
}
.container-card:nth-child(2) {
    background: var(--cor0) url(../img/fundos/fundo-agendas/fundo-agendas-550.jpg) no-repeat center / cover;
}
.container-card:nth-child(3) {
    background: var(--cor0) url(../img/fundos/fundo-livros/fundo-livros-550.jpg) no-repeat center / cover;
}

.container-card-efeitos {
    backdrop-filter: blur(3px) brightness(50%) contrast(80%);
}

.container-card-efeitos:hover {
    backdrop-filter: blur(6px) brightness(50%) contrast(80%)
}

.card {
    max-width: 31.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    row-gap: 4.5rem;
    padding: 3.125rem 1.5rem;
    margin: auto;
}

.card h2,
.card p,
.card a {
    color: var(--cor8);
}

.card h2 {
    font-size: 2rem;
}

.card a {
    text-decoration: none;
    color: var(--cor8);
    background-color: var(--cor0);
    padding: 0.625rem 2rem;
    border: 0.0625rem solid var(--cor0);
    transition: 0.3s;
}

.card a:hover {
    color: var(--cor0);
    background-color: var(--cor8);
}

#main-parceiros {
    padding-bottom: 8rem;
}

#main-parceiros h1 {
    margin-bottom: 4.5rem;
}

#container-parceiros {
    background-color: var(--cor8);
    width: 95vw;
    margin: auto;
    padding: 0.625rem;
    border-radius: 0.625rem;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1.25rem;
    overflow: auto;

    scrollbar-width: thin; /* Define a espessura da barra de rolagem (thin, auto, etc.) */
    scrollbar-color: var(--cor5) var(--cor6);
}

#container-parceiros::-webkit-scrollbar {
    background-color: var(--cor6);
    height: 0.3125rem;
    border-radius: 0.25rem;
}

#container-parceiros::-webkit-scrollbar-thumb {
    background-color: var(--cor5);
}

.parceiro {
    width: 70vw;
    max-width: 15.625rem;
}

#mao-animada {
    display: block;
    text-align: center;
    margin-top: 2rem;
}

@keyframes mao-apontando {
    0% {
        -webkit-transform: rotate(0) translateX(0) translateY(0) translateZ(0);
        transform: rotate(0) translateX(0) translateY(0) translateZ(0);
    }

    50% {
        -webkit-transform: rotate(-15deg) translateX(-25px) translateY(10px) translateZ(0);
        transform: rotate(-15deg) translateX(-25px) translateY(10px) translateZ(0);
    }

    100% {
        -webkit-transform: rotate(0) translateX(0) translateY(0) translateZ(0);
        transform: rotate(0) translateX(0) translateY(0) translateZ(0);
    }
}
#mao-animada i {
    font-size: 3rem;
    color: var(--cor5);
    transform: rotate(15deg);
    animation: mao-apontando 3s infinite;
}

#main-mapa {
    margin: auto;
    width: 100%;
    height: 450px;
    margin-bottom: 2rem;
}

#main-mapa iframe {
    height: 450px;
    width: 100%;
}

#main-fale-conosco {
    background-color: var(--cor7);
    padding: 3.5rem 1rem;
    margin-bottom: 4rem;
    text-align: center;
    box-shadow: 0px 0px 20px var(--cor5);
    color: var(--cor8);
}

#main-fale-conosco h1 {
    color: var(--cor8);
    padding-bottom: 2rem;
}

#fale-conosco-container {
    max-width: 50rem;
    margin: auto;
}

.container-contato {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.container-contato p {
    padding-top: 0.5rem;
    color: var(--cor0);
}

.container-contato i {
    font-size: 2.5rem;
    padding: 1rem;
    cursor: pointer;
    color: var(--cor0);

    position: relative;
    bottom: 0rem;
    transition: 0.1s;
}

.container-contato i:hover {
    bottom: 0.1875rem;
    color: var(--cor8);
}