@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor0: #40a489;
    --cor1: #C94526;
    --cor2: #B61E61;
    --cor3: #f6cf80;
    --cor4: #ffbb34;
    --cor5: #1f1f1fc8;
    --cor6: #e7e7e7dd;
    --cor7: #191919;
    --cor8: #f8f8f8;

    --gradient1: linear-gradient(
        to right, var(--cor1), var(--cor2), var(--cor0)
    );

    --fonte-principal: 'Roboto Slab', serif;
    --fonte-leitura: 'Montserrat', sans-serif;
    --fonte-manuscrita: 'Norican', serif;
}

body {
    font-family: var(--fonte-principal);
}

p {
    font-family: var(--fonte-leitura);
    font-weight: 500;
}
